<app-slider></app-slider>
<app-top-search></app-top-search>
<app-new-cues></app-new-cues>
<div class="overflow-hidden">
  <img
    class="transition-transform transform hover:scale-110 duration-1000 ease-in-out cursor-pointer"
    src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/banner_index.jpg?1726037936304"
    alt=""
  />
</div>
<app-cuetec-cues></app-cuetec-cues>
<app-mit-cues></app-mit-cues>
<app-newsletter></app-newsletter>
<!-- <input value="{{name}}" type="" name="">
<button (click)="handleClick()">Change</button> -->
<!-- <app-products-hot></app-products-hot> -->
