<div class="bg-white font-sans">
  <div class="max-w-6xl mx-auto p-4">
    <div class="text-center">
      <h2
        class="text-3xl font-extrabold text-gray-800 inline-block relative after:absolute after:w-4/6 after:h-1 after:left-0 after:right-0 after:-bottom-4 after:mx-auto after:bg-pink-400 after:rounded-lg-full"
      >
        Tin nổi bật
      </h2>
    </div>
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-16 max-lg:max-w-3xl max-md:max-w-md mx-auto"
    >
      <div
        class="bg-white cursor-pointer rounded-lg overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative group"
      >
        <img
          src="https://bizweb.dktcdn.net/100/357/267/articles/reyes1-3-1705662339-580-width740height472.jpg?v=1706861331727"
          alt="Blog Post 1"
          class="w-full h-96 object-cover"
        />
        <div
          class="p-6 absolute bottom-0 left-0 right-0 bg-pink-200 opacity-90"
        >
          <h3 class="text-xl font-bold text-gray-800">
            "Phù thủy" Reyes đấu bi-a độ với Reyes Dominica: Sự cố gây tranh cãi
          </h3>
          <div
            class="h-0 overflow-hidden group-hover:h-16 group-hover:mt-4 transition-all duration-300"
          >
            <p class="text-gray-800 text-sm">
              "Phù thủy" Reyes đấu bi-a độ với Reyes Dominica: Sự cố gây tranh
              cãi (Tin thể thao, tin bi-a...)
            </p>
          </div>
        </div>
      </div>
      <div
        class="bg-white cursor-pointer rounded-lg overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative group"
      >
        <img
          src="https://bizweb.dktcdn.net/thumb/large/100/357/267/articles/2-1703480640-337-width740height495.jpg?v=1706438089483"
          alt="Blog Post 2"
          class="w-full h-96 object-cover"
        />
        <div
          class="p-6 absolute bottom-0 left-0 right-0 bg-pink-200 opacity-90"
        >
          <h3 class="text-xl font-bold text-gray-800">
            Bao Phương Vinh vô địch bi-a thế giới, cơ thủ Việt Nam lập dấu mốc
            mới năm 2023
          </h3>
          <div
            class="h-0 overflow-hidden group-hover:h-16 group-hover:mt-4 transition-all duration-300"
          >
            <p class="text-gray-800 text-sm">
              Bao Phương Vinh vô địch bi-a thế giới, cơ thủ Việt Nam lập dấu mốc
              mới năm 2023
            </p>
          </div>
        </div>
      </div>
      <div
        class="bg-white cursor-pointer rounded-lg overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative group"
      >
        <img
          src="https://bizweb.dktcdn.net/thumb/large/100/357/267/articles/bi-choi-kho-sulivan1-1706003527-78-width740height423.jpg?v=1706438096963"
          alt="Blog Post 3"
          class="w-full h-96 object-cover"
        />
        <div
          class="p-6 absolute bottom-0 left-0 right-0 bg-pink-200 opacity-90"
        >
          <h3 class="text-xl font-bold text-gray-800">
            "Phù thủy bi-a" O'Sullivan đi cơ làm đối thủ "sợ đến già", dù bị
            chơi khó
          </h3>
          <div
            class="h-0 overflow-hidden group-hover:h-16 group-hover:mt-4 transition-all duration-300"
          >
            <p class="text-gray-800 text-sm">
              "Phù thủy bi-a" O'Sullivan đi cơ làm đối thủ "sợ đến già", dù bị
              chơi khó
            </p>
          </div>
        </div>
      </div>
      <div
        class="bg-white cursor-pointer rounded-lg overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative group"
      >
        <img
          src="https://bizweb.dktcdn.net/thumb/large/100/357/267/articles/luat-choi-bida-3-bi-640x475.jpg?v=1561089006873"
          alt="Blog Post 3"
          class="w-full h-96 object-cover"
        />
        <div
          class="p-6 absolute bottom-0 left-0 right-0 bg-pink-200 opacity-90"
        >
          <h3 class="text-xl font-bold text-gray-800">
            Bida 3 bi – Luật chơi và cách chơi Bida 3 cơ bản đến nâng cao billiards
          </h3>
          <div
            class="h-0 overflow-hidden group-hover:h-16 group-hover:mt-4 transition-all duration-300"
          >
            <p class="text-gray-800 text-sm">
              Bida 3 bi – Luật chơi và cách chơi Bida 3 cơ bản đến nâng cao
            </p>
          </div>
        </div>
      </div>
      <div
        class="bg-white cursor-pointer rounded-lg overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative group"
      >
        <img
          src="https://bizweb.dktcdn.net/thumb/large/100/357/267/articles/co-thu-bida-viet-nam-nguyen-quoc-nguyen.jpg?v=1561088927637"
          alt="Blog Post 3"
          class="w-full h-96 object-cover"
        />
        <div
          class="p-6 absolute bottom-0 left-0 right-0 bg-pink-200 opacity-90"
        >
          <h3 class="text-xl font-bold text-gray-800">
            Danh sách các cơ thủ bida Việt Nam thi đấu tại giải Olympic 2024
          </h3>
          <div
            class="h-0 overflow-hidden group-hover:h-16 group-hover:mt-4 transition-all duration-300"
          >
            <p class="text-gray-800 text-sm">
              Danh sách các cơ thủ bida Việt Nam thi đấu tại giải Olympic
            </p>
          </div>
        </div>
      </div>
      <div
        class="bg-white cursor-pointer rounded-lg overflow-hidden shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] relative group"
      >
        <img
          src="https://bizweb.dktcdn.net/thumb/large/100/357/267/articles/cach-danh-bida-3-bang-gom.jpg?v=1561088851250"
          alt="Blog Post 3"
          class="w-full h-96 object-cover"
        />
        <div
          class="p-6 absolute bottom-0 left-0 right-0 bg-pink-200 opacity-90"
        >
          <h3 class="text-xl font-bold text-gray-800">
            Hướng dẫn chơi biada 3 băng “đỉnh” như cơ thủ chuyên nghiệp
          </h3>
          <div
            class="h-0 overflow-hidden group-hover:h-16 group-hover:mt-4 transition-all duration-300"
          >
            <p class="text-gray-800 text-sm">
              Hướng dẫn chơi biada 3 băng “đỉnh” như cơ thủ chuyên nghiệp
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
