<div class="flex flex-col my-14">
  <div class="flex flex-row items-center gap-3 mx-[120px]">
    <div class="bg-slate-700 h-full p-[8px] rounded border border-pink-700"><img src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/icon_men_product.png?1726037936304" alt="" width="28px" height="28px"></div>
    <div>
      <h3 class="text-[14px]">Sản phẩm</h3>
      <h1 class="font-semibold text-[18px]">Cuetec</h1>
    </div>
  </div>
  <div class="flex mx-[120px] my-3 h-[330px] items-center re">
    <div class="w-[22%] h-full">
      <img
        src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/men_product_img.jpg?1726037936304"
        class="w-[270px] h-[330px]"
        alt=""
      />
    </div>
    <div class="flex items-start justify-center w-[78%] h-full px-4">
      <div class="w-full relative flex items-center justify-center">
        <button
          aria-label="slide backward"
          class="bg-slate-500 py-1 px-2 rounded absolute z-30 top-[96%] left-0 ml-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
          (click)="goPrev()"
        >
          <svg
            width="16"
            height="24"
            viewBox="0 0 8 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 1L1 7L7 13"
              stroke="pink"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
          <div
            id="slider"
            class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700"
          >
            <div class="flex flex-col flex-shrink-0 relative gap-2">
              <img
                src="https://bizweb.dktcdn.net/thumb/large/100/357/267/products/full.jpg?v=1725961430883"
                alt="sitting area"
                class="object-cover object-center rounded-md w-[200px] h-[200px]"
              />
              <div class="bg-opacity-30">
                <div class="flex flex-col h-full pb-6 gap-2">
                  <h3
                    class="text-[14px] font-normal line-clamp-2 overflow-hidden text-ellipsis max-w-[200px]"
                  >
                    Cơ Cuetec AVID Era Sneaky Pete 4PT Brown / Creme LW 322
                  </h3>
                  <span class="text-[#c40025] font-semibold text-[18px]"
                    >8.600.000đ</span
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col flex-shrink-0 relative gap-2">
              <img
                src="https://bizweb.dktcdn.net/thumb/large/100/357/267/products/full-gay.jpg?v=1725961591160"
                alt="sitting area"
                class="object-cover object-center rounded-md w-[200px] h-[200px]"
              />
              <div class="bg-opacity-30">
                <div class="flex flex-col h-full pb-6 gap-2">
                  <h3
                    class="text-[14px] font-normal line-clamp-2 overflow-hidden text-ellipsis max-w-[200px]"
                  >
                    Cơ Cuetec AVID Era Sneaky Pete 4PT Brown / Creme LW 322
                  </h3>
                  <span class="text-[#c40025] font-semibold text-[18px]"
                    >8.600.000đ</span
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col flex-shrink-0 relative gap-2">
              <img
                src="https://bizweb.dktcdn.net/thumb/large/100/357/267/products/full-gay-1x1.jpg?v=1725961593160"
                alt="sitting area"
                class="object-cover object-center rounded-md w-[200px] h-[200px]"
              />
              <div class="bg-opacity-30">
                <div class="flex flex-col h-full pb-6 gap-2">
                  <h3
                    class="text-[14px] font-normal line-clamp-2 overflow-hidden text-ellipsis max-w-[200px]"
                  >
                    Cơ Cuetec AVID Era Sneaky Pete 4PT Brown / Creme LW 322
                  </h3>
                  <span class="text-[#c40025] font-semibold text-[18px]"
                    >8.600.000đ</span
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col flex-shrink-0 relative gap-2">
              <img
                src="https://bizweb.dktcdn.net/thumb/large/100/357/267/products/full-gay-1x1-b4ac4648-8590-43d6-a13f-5d2b0cb27fab.jpg?v=1725961552567"
                alt="sitting area"
                class="object-cover object-center rounded-md w-[200px] h-[200px]"
              />
              <div class="bg-opacity-30">
                <div class="flex flex-col h-full pb-6 gap-2">
                  <h3
                    class="text-[14px] font-normal line-clamp-2 overflow-hidden text-ellipsis max-w-[200px]"
                  >
                    Cơ Cuetec AVID Era Sneaky Pete 4PT Brown / Creme LW 322
                  </h3>
                  <span class="text-[#c40025] font-semibold text-[18px]"
                    >8.600.000đ</span
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col flex-shrink-0 relative gap-2">
              <img
                src="https://bizweb.dktcdn.net/thumb/large/100/357/267/products/23-ct-pro-line-2x4-speed-gray95-752-34-view.png?v=1721194046973"
                alt="sitting area"
                class="object-cover object-center rounded-md w-[200px] h-[200px]"
              />
              <div class="bg-opacity-30">
                <div class="flex flex-col h-full pb-6 gap-2">
                  <h3
                    class="text-[14px] font-normal line-clamp-2 overflow-hidden text-ellipsis max-w-[200px]"
                  >
                    Cơ Cuetec AVID Era Sneaky Pete 4PT Brown / Creme LW 322
                  </h3>
                  <span class="text-[#c40025] font-semibold text-[18px]"
                    >8.600.000đ</span
                  >
                </div>
              </div>
            </div>
            <div class="flex flex-col flex-shrink-0 relative gap-2">
              <img
                src="https://bizweb.dktcdn.net/thumb/large/100/357/267/products/23-ct-pro-line-4x8-navy-95-755-34view.png?v=1721194367200"
                alt="sitting area"
                class="object-cover object-center rounded-md w-[200px] h-[200px]"
              />
              <div class="bg-opacity-30">
                <div class="flex flex-col h-full pb-6 gap-2">
                  <h3
                    class="text-[14px] font-normal line-clamp-2 overflow-hidden text-ellipsis max-w-[200px]"
                  >
                    Cơ Cuetec AVID Era Sneaky Pete 4PT Brown / Creme LW 322
                  </h3>
                  <span class="text-[#c40025] font-semibold text-[18px]"
                    >8.600.000đ</span
                  >
                </div>
              </div>
            </div>
          </div>
          <button
            aria-label="slide forward"
            class="bg-slate-500 py-1 px-2 rounded absolute z-30 right-0 top-[96%] mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
            (click)="goNext()"
          >
            <svg
              width="16"
              height="24"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 1L7 7L1 13"
                stroke="pink"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
