<div class="flex flex-col my-14 bg-slate-200 mx-[120px] p-4 rounded">
  <div class="flex flex-row items-center gap-3">
    <div class="bg-slate-700 h-full p-[8px] rounded border border-pink-700">
      <img
        src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/icon_xu_huong.png?1726037936304"
        alt=""
        width="28px"
        height="28px"
      />
    </div>
    <div>
      <h3 class="text-[14px]">Tìm kiếm</h3>
      <h1 class="font-semibold text-[18px]">Xu hướng tìm kiếm</h1>
    </div>
  </div>
  <div class="flex my-3 items-center gap-20">
    <div class="flex items-center gap-3">
      <img
        src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/icon_xu_huong1_1.png?1726037936304"
        alt=""
        width="65px" height="65px"
        class="rounded"
      />
      <div>
        <h3 class="text-[15px] font-semibold">Predator</h3>
        <span class="text-[14px] font-normal">1.2M lượt tìm</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <img
        src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/icon_xu_huong1_2.png?1726037936304"
        alt=""
        width="65px" height="65px"
        class="rounded"
      />
      <div>
        <h3 class="text-[15px] font-semibold">Cuetec</h3>
        <span class="text-[14px] font-normal">1M lượt tìm</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <img
        src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/icon_xu_huong1_3.png?1726037936304"
        alt=""
        width="65px" height="65px"
        class="rounded"
      />
      <div>
        <h3 class="text-[15px] font-semibold">Mezz</h3>
        <span class="text-[14px] font-normal">981K lượt tìm</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <img
        src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/icon_xu_huong1_4.png?1726037936304"
        alt=""
        width="65px" height="65px"
        class="rounded"
      />
      <div>
        <h3 class="text-[15px] font-semibold">Dufferin</h3>
        <span class="text-[14px] font-normal">900K lượt tìm</span>
      </div>
    </div>
    <div class="flex items-center gap-3">
      <img
        src="https://bizweb.dktcdn.net/100/357/267/themes/939590/assets/icon_xu_huong1_5.png?1726037936304"
        alt=""
        width="65px" height="65px"
        class="rounded"
      />
      <div>
        <h3 class="text-[15px] font-semibold">Rhino</h3>
        <span class="text-[14px] font-normal">860K lượt tìm</span>
      </div>
    </div>
  </div>
</div>
