<div class="p-6 bg-gray-100 min-h-screen">
  <h1 class="text-2xl font-bold text-center mb-6 text-gray-800">Users</h1>
  <table class="mt-6 w-full bg-white shadow-md rounded-lg">
    <thead>
      <tr class="bg-gray-200">
        <th class="p-4 text-left">ID</th>
        <th class="p-4 text-left">Username</th>
        <th class="p-4 text-left">Email</th>
        <th class="p-4 text-left">Trạng thái</th>
        <th class="p-4 text-left">Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" class="border-b">
        <td class="p-4 text-sm">{{ user.id }}</td>
        <td class="p-4 text-sm">
          <div class="flex items-center cursor-pointer">
            {{ user.username }}
          </div>
        </td>
        <td class="p-4 text-sm">{{ user.email }}</td>
        <td class="p-4 text-sm">
          <label class="relative cursor-pointer">
            <input
              type="checkbox"
              class="sr-only peer"
              [checked]="user.isActive"
              (change)="toggleActiveStatus(user)"
            />
            <div
              class="w-11 h-6 flex items-center bg-gray-300 rounded-full peer peer-checked:after:translate-x-full after:absolute after:left-[2px] peer-checked:after:border-white after:bg-white after:border after:border-gray-300 after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-[#007bff]"
            ></div>
          </label>
        </td>
        <td class="p-4">
          <button
            (click)="editUser(user); toggleDiv()"
            class="text-white py-1 px-3 rounded-md hover:bg-slate-200 transition"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 fill-blue-500 hover:fill-blue-700"
              viewBox="0 0 348.882 348.882"
            >
              <path
                d="m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z"
                data-original="#000000"
              />
              <path
                d="M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z"
                data-original="#000000"
              />
            </svg>
          </button>
        </td>
        <div
          *ngIf="isDivVisible"
          class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]"
        >
          <div
            class="w-full max-w-lg bg-white shadow-lg rounded-lg p-8 relative"
          >
            <div class="flex items-center justify-between mb-4">
              <h3 class="text-blue-600 text-xl font-bold">Chỉnh sửa người dùng</h3>
              <svg
                (click)="toggleDiv()"
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 cursor-pointer fill-gray-400 hover:fill-red-500"
                viewBox="0 0 320.591 320.591"
              >
                <path
                  d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                  data-original="#000000"
                ></path>
                <path
                  d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                  data-original="#000000"
                ></path>
              </svg>
            </div>
            <div *ngIf="selectedUser">
              <form (ngSubmit)="updateUser()" class="space-y-4">
                <div class="flex flex-col">
                  <label class="mb-2 font-semibold">Username</label>
                  <input
                    [(ngModel)]="selectedUser.username"
                    name="username"
                    class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  />
                </div>
                <div class="flex flex-col">
                  <label class="mb-2 font-semibold">Email</label>
                  <input
                    [(ngModel)]="selectedUser.email"
                    name="email"
                    type="email"
                    class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  />
                </div>
                <div class="flex flex-col">
                  <label class="mb-2 font-semibold">Password</label>
                  <input
                    [(ngModel)]="selectedUser.password"
                    name="password"
                    type="password"
                    class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  />
                </div>
                <div class="flex flex-col">
                  <label class="mb-2 font-semibold">Role</label>
                  <select
                    [(ngModel)]="selectedUser.role"
                    name="role"
                    class="border border-gray-300 p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                  >
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                  </select>
                </div>

                <div class="flex justify-end space-x-4 mt-4">
                  <button
                    type="submit"
                    class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    (click)="toggleDiv()"
                  >
                    Cập nhật
                  </button>
                  <button
                    type="button"
                    class="bg-gray-300 text-gray-700 px-4 py-2 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300"
                    (click)="selectedUser = null; toggleDiv()"
                  >
                    Hủy
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>
