<div class="p-6 bg-gray-100 min-h-screen">
  <h1 class="text-2xl font-bold text-center mb-6 text-gray-800">Products</h1>
  <button
    class="mb-4 px-4 py-2 bg-blue-500 text-white font-semibold rounded"
    (click)="toggleDiv()"
  >
    Thêm sản phẩm
  </button>

  <div
    *ngIf="isDivVisible"
    class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]"
  >
    <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-8 relative">
      <div class="flex items-center">
        <h3 class="text-blue-600 text-xl font-bold flex-1">
          Thêm mới sản phẩm
        </h3>
        <svg
          (click)="toggleDiv()"
          xmlns="http://www.w3.org/2000/svg"
          class="w-3 ml-2 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500"
          viewBox="0 0 320.591 320.591"
        >
          <path
            d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
            data-original="#000000"
          ></path>
          <path
            d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
            data-original="#000000"
          ></path>
        </svg>
      </div>

      <form
        [formGroup]="productForm"
        (ngSubmit)="addProduct()"
        class="space-y-4 mt-8"
      >
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Tên sản phẩm</label>
          <input
            formControlName="name"
            type="text"
            placeholder="Enter product name"
            class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
            required
          />
        </div>

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Mô tả</label>
          <textarea
            formControlName="description"
            placeholder="Write about the product"
            class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
            rows="3"
            required
          ></textarea>
        </div>

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Giá tiền</label>
          <input
            formControlName="price"
            type="number"
            placeholder="Enter price"
            class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
            required
          />
        </div>
        <div>
          <label class="text-gray-800 text-sm mb-2 block">Tồn kho</label>
          <input
            formControlName="stock"
            type="number"
            placeholder="Enter stock quantity"
            class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
            required
          />
        </div>

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Phân loại</label>
          <select
            formControlName="CategoryId"
            class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
            required
          >
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>

        <div>
          <label class="text-gray-800 text-sm mb-2 block">Ảnh</label>
          <input
            formControlName="image"
            type="text"
            placeholder="Enter product image URL"
            class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
            required
          />
        </div>

        <div class="flex justify-end gap-4 !mt-8">
          <button
            type="button"
            class="px-6 py-3 rounded-lg text-gray-800 text-sm border-none outline-none tracking-wide bg-gray-200 hover:bg-gray-300"
            (click)="toggleDiv()"
          >
            Cancel
          </button>
          <button
            type="submit"
            class="px-6 py-3 rounded-lg text-white text-sm border-none outline-none tracking-wide bg-blue-600 hover:bg-blue-700"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>

  <table class="mt-6 w-full bg-white shadow-md rounded-lg">
    <thead>
      <tr class="bg-gray-200">
        <th class="p-4 text-left">Name</th>
        <th class="p-4 text-left">Description</th>
        <th class="p-4 text-left">Price</th>
        <th class="p-4 text-left">Tồn kho</th>
        <th class="p-4 text-left">Phân loại</th>
        <th class="p-4 text-left">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" class="border-b">
        <td class="p-4 text-sm">
          <div class="flex items-center cursor-pointer">
            <img
              src="{{ product.image }}"
              alt="{{ product.name }}"
              class="w-10 h-10 p-1.5 shrink-0 bg-gray-100"
            />
            <div class="mx-4">
              <p class="text-sm text-black">{{ product.name }}</p>
            </div>
          </div>
        </td>
        <td class="p-4 text-sm">{{ product.description }}</td>
        <td class="p-4 text-sm text-blue-500 font-medium">
          {{ product.price | currency:'VND':'symbol' }}
        </td>
        <td class="p-4 text-sm">{{ product.stock }}</td>
        <td class="p-4 text-sm">{{ product.Category.name }}</td>
        <td class="p-4">
          <button
            (click)="editProduct(product); toggleDivUpdate()"
            class="text-white py-1 px-3 rounded-md hover:bg-slate-200 transition"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 fill-blue-500 hover:fill-blue-700"
              viewBox="0 0 348.882 348.882"
            >
              <path
                d="m333.988 11.758-.42-.383A43.363 43.363 0 0 0 304.258 0a43.579 43.579 0 0 0-32.104 14.153L116.803 184.231a14.993 14.993 0 0 0-3.154 5.37l-18.267 54.762c-2.112 6.331-1.052 13.333 2.835 18.729 3.918 5.438 10.23 8.685 16.886 8.685h.001c2.879 0 5.693-.592 8.362-1.76l52.89-23.138a14.985 14.985 0 0 0 5.063-3.626L336.771 73.176c16.166-17.697 14.919-45.247-2.783-61.418zM130.381 234.247l10.719-32.134.904-.99 20.316 18.556-.904.99-31.035 13.578zm184.24-181.304L182.553 197.53l-20.316-18.556L294.305 34.386c2.583-2.828 6.118-4.386 9.954-4.386 3.365 0 6.588 1.252 9.082 3.53l.419.383c5.484 5.009 5.87 13.546.861 19.03z"
                data-original="#000000"
              />
              <path
                d="M303.85 138.388c-8.284 0-15 6.716-15 15v127.347c0 21.034-17.113 38.147-38.147 38.147H68.904c-21.035 0-38.147-17.113-38.147-38.147V100.413c0-21.034 17.113-38.147 38.147-38.147h131.587c8.284 0 15-6.716 15-15s-6.716-15-15-15H68.904C31.327 32.266.757 62.837.757 100.413v180.321c0 37.576 30.571 68.147 68.147 68.147h181.798c37.576 0 68.147-30.571 68.147-68.147V153.388c.001-8.284-6.715-15-14.999-15z"
                data-original="#000000"
              />
            </svg>
          </button>
          <div
            *ngIf="isDivVisibleUpdate"
            class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]"
          >
            <div
              class="w-full max-w-lg bg-white shadow-lg rounded-lg p-8 relative"
            >
              <div class="flex items-center">
                <h3 class="text-blue-600 text-xl font-bold flex-1">
                  Thêm mới sản phẩm
                </h3>
                <svg
                  (click)="toggleDivUpdate()"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-3 ml-2 cursor-pointer shrink-0 fill-gray-400 hover:fill-red-500"
                  viewBox="0 0 320.591 320.591"
                >
                  <path
                    d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
                    data-original="#000000"
                  ></path>
                  <path
                    d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
                    data-original="#000000"
                  ></path>
                </svg>
              </div>

              <form
                [formGroup]="productForm"
                (ngSubmit)="editingProduct ? updateProduct() : addProduct()"
                class="bg-white p-6 rounded-lg shadow-md space-y-4"
              >
                <div class="flex flex-col">
                  <label for="name" class="text-sm font-medium text-gray-600"
                    >Name</label
                  >
                  <input
                    id="name"
                    formControlName="name"
                    placeholder="Enter product name"
                    class="border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-200 focus:outline-none"
                  />
                </div>

                <div class="flex flex-col">
                  <label
                    for="description"
                    class="text-sm font-medium text-gray-600"
                    >Description</label
                  >
                  <input
                    id="description"
                    formControlName="description"
                    placeholder="Enter product description"
                    class="border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-200 focus:outline-none"
                  />
                </div>

                <div class="flex flex-col">
                  <label for="price" class="text-sm font-medium text-gray-600"
                    >Price</label
                  >
                  <input
                    id="price"
                    formControlName="price"
                    type="number"
                    placeholder="Enter price"
                    class="border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-200 focus:outline-none"
                  />
                </div>

                <div>
                  <label class="text-gray-800 text-sm mb-2 block">Phân loại</label>
                  <select
                    formControlName="CategoryId"
                    class="px-4 py-3 bg-gray-100 w-full text-gray-800 text-sm border-none focus:outline-blue-600 focus:bg-transparent rounded-lg"
                    required
                  >
                    <option *ngFor="let category of categories" [value]="category.id">
                      {{ category.name }}
                    </option>
                  </select>
                </div>

                <div class="flex flex-col">
                  <label for="stock" class="text-sm font-medium text-gray-600"
                    >Stock</label
                  >
                  <input
                    id="stock"
                    formControlName="stock"
                    type="number"
                    placeholder="Enter stock quantity"
                    class="border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-200 focus:outline-none"
                  />
                </div>

                <div class="flex flex-col">
                  <label for="image" class="text-sm font-medium text-gray-600"
                    >Image</label
                  >
                  <input
                    id="image"
                    formControlName="image"
                    placeholder="Enter image URL"
                    class="border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-200 focus:outline-none"
                  />
                </div>

                <button
                  type="submit"
                  (click)="toggleDivUpdate()"
                  class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition"
                >
                  {{ editingProduct ? "Update" : "Add" }} Product
                </button>
              </form>
            </div>
          </div>
          <button
            (click)="deleteProduct(product.id)"
            class="text-white py-1 px-3 rounded-md hover:bg-slate-200 transition"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 fill-red-500 hover:fill-red-700"
              viewBox="0 0 24 24"
            >
              <path
                d="M19 7a1 1 0 0 0-1 1v11.191A1.92 1.92 0 0 1 15.99 21H8.01A1.92 1.92 0 0 1 6 19.191V8a1 1 0 0 0-2 0v11.191A3.918 3.918 0 0 0 8.01 23h7.98A3.918 3.918 0 0 0 20 19.191V8a1 1 0 0 0-1-1Zm1-3h-4V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2H4a1 1 0 0 0 0 2h16a1 1 0 0 0 0-2ZM10 4V3h4v1Z"
                data-original="#000000"
              />
              <path
                d="M11 17v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Zm4 0v-7a1 1 0 0 0-2 0v7a1 1 0 0 0 2 0Z"
                data-original="#000000"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
