.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%;
}

.carousel-item {
  flex: 0 0 100%;
  width: 100%;
}

img {
  width: 1520px;
  height: 500px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 40px;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
